@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100%;
    background: #e3f2fd;
}

/* NAVIGASI */
nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    background: #fff;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
}

nav .logo {
    display: flex;
    align-items: center;
    margin: 0 24px;
}

.logo .fa-bars {
    color: #333;
    font-size: 20px;
    margin-right: 25px;
    cursor: pointer;
}

.logo .logo-name {
    color: #333;
    font-size: 22px;
    font-weight: 500;
}

nav .sidebar {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
    width: 260px;
    padding: 20px 0;
    background-color: #fff;
    box-shadow: 0 5px 1px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease;
}

nav.open .sidebar {
    left: 0;
}

.sidebar .sidebar-content {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 15px;
}

.sidebar-content .lists {
    list-style: none;
}

.list .nav-link {
    display: flex;
    align-items: center;
    margin: 8px 0;
    padding: 15px 10px;
    border-radius: 8px;
    text-decoration: none;
    color: #707070;
    text-align: end;
}

.lists .nav-link:hover {
    background-color: #4070f4;
}

.nav-link .icon {
    margin-right: 15px;
    margin-top: -2px;
    margin-left: 7px;
    font-size: 20px;
}

.lists .nav-link:hover {
    color: #fff;
}

.overlay {
    position: fixed;
    top: 0;
    left: -100%;
    height: 1000vh;
    width: 200%;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s ease;
    background: rgba(0, 0, 0, 0.3);
}

nav.open~.overlay {
    opacity: 1;
    left: 260px;
    pointer-events: auto;
}

/* BAGIAN-HOME */
.bagian-1 {
    width: 100%;
    height: 650px;
    background-color: #4070f4;
}

.bagian-home {
    color: white;
}

#home {
    display: flex;
    justify-content: center;

}

.bagian-home img {
    width: 450px;
    margin-top: 75px;
}

.bagian-home .deskripsi {
    text-align: center;
}

.bagian-home .tombol {
    background-color: #041d61;
    padding: 5px 15px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    font-size: 20px;
}

#materi .deskripsi {
    display: flex;
    justify-content: center;

}

#materi .deskripsi .block-1 {
    width: 350px;
    height: 530px;
    background-color: white;
    border-style: ridge;
    border-radius: 8px;
    margin: 20px;
    margin-top: 50px;
}

.bagian-materi .block-1 img {
    width: 250px;
    margin-left: 35px;
    margin-top: 65px;
}

.bagian-materi .block-1 h1 {
    font-size: 15px;
    margin-top: 50px;
    margin-left: 20px;
}

.bagian-materi .block-1 p {
    font-size: 12px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    color: #707070;
}

.bagian-materi .block-1 a {
    font-size: 12px;
    margin-left: 20px;
    margin-right: 20px;
}

.bagian-materi .block-1 .gambar-1 {
    margin-top: -10px;
}

.bagian-materi .block-1 .gambar-2 {
    margin-top: -20px;
}

.bagian-materi .block-1 .tombol {
    background-color: #041d61;
    padding: 5px 15px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
}

.bagian-3 {
    width: 100%;
    height: 330px;
    background-color: #4070f4;
    color: white;
    text-align: center;
}

.bagian-quiz .deskripsi {
    margin-top: 30px;
    padding-top: 55px;
}

.bagian-quiz .tombol {
    background-color: #041d61;
    padding: 5px 15px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    font-size: 20px;
}

#diskusi .deskripsi {
    display: flex;
    justify-content: center;
}

.bagian-4 .block-1 {
    width: 350px;
    height: 240px;
    background-color: #ffffff;
    margin: 20px;
    margin-top: 50px;
    border-radius: 10px;
    border-style: ridge;
}

.bagian-4 h1 {
    font-size: 20px;
    margin-top: -46px;
    margin-left: 75px;
}

.bagian-4 p {
    font-size: 12px;
    margin-top: px;
    margin-left: 75px;
    margin-bottom: 8px;
    margin-right: 25px;
}

.bagian-4 .tombol-1 {
    font-size: 12px;
    margin-top: 2px;
    margin-left: 75px;
    background-color: #041d61;
    padding: 5px 15px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
}

#profil {
    display: flex;
    justify-content: center;
}

.bagian-5 {
    width: 100%;
    height: 430px;
    background-color: #4070f4;
    margin-top: 30px;
    padding-top: 25px;
}

.bagian-5 img {
    width: 100px;
    border-radius: 50%;
}

.bagian-5 .deskripsi {
    color: white;
    text-align: center;
    width: 700px;
    margin-top: 50px;
}

.bagian-5 .tombol {
    display: inline-block;
    overflow: auto;
    background-color: #041d61;
    padding: 5px 15px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    margin-left: 12px;
    font-size: 12px;
    margin-bottom: -3px;
}

@media only screen and (max-width: 999px) {

    .bagian-1 {
        width: 999px;
        height: 650px;

    }

    .bagian-home {
        color: white;
    }

    .bagian-home img {
        width: 350px;
        margin-left: 10px;
        margin-top: 150px;
    }

    .bagian-home .deskripsi {
        text-align: center;
        font-size: 12px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .bagian-home .tombol {
        font-size: 15px;
    }

    .bagian-2 {
        width: 999px;
        height: 300px;
    }

    #materi .deskripsi {
        display: grid;
        margin-top: 30px;

    }

    #materi .deskripsi .block-1 {
        margin-top: 5px;
        width: 320px;
        height: 530px;

    }

    #materi .deskripsi .indo {
        width: 320px;
        height: 450px;
        background-color: white;
        border-style: ridge;
        border-radius: 8px;
        margin: 20px;
        margin-top: 50px;
    }

    .bagian-materi {
        margin-bottom: 1000px;
    }

    .bagian-3 {
        width: 999px;
        height: 320px;
        margin-top: 1375px;
    }

    #quiz .deskripsi {
        font-size: 12px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .bagian-4 {
        width: 999px;
        height: 300px;
    }

    #diskusi .deskripsi {
        display: grid;
        margin-top: 30px;
    }

    #diskusi .deskripsi .block-1 {
        margin-top: 5px;
        width: 320px;
        height: 250px;
    }

    .bagian-5 {
        width: 999px;
        height: 350px;
        margin-top: 535px
    }

    #profil .deskripsi {
        font-size: 12px;
    }

    #profil .deskripsi {
        text-align: left;
        margin-top: 0;
        margin-left: 20px;
        margin-right: 20px;
    }

    .bagian-5 .deskripsi .fa-square-instagram {
        margin-left: 9px;
    }

    .bagian-5 .tombol {
        font-size: 12px;
        margin-bottom: -3px;
    }

    #profil .deskripsi .profil {
        text-align: center;
    }

}


/* Styling untuk layar smartphone */
@media only screen and (max-width: 480px) {

    .bagian-1 {
        width: 480px;
        height: 650px;

    }

    .bagian-home {
        color: white;
    }

    .bagian-home img {
        width: 350px;
        margin-left: 10px;
        margin-top: 150px;
    }

    .bagian-home .deskripsi {
        text-align: center;
        font-size: 12px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .bagian-home .tombol {
        font-size: 15px;
    }

    .bagian-2 {
        width: 480px;
        height: 300px;
    }

    #materi .deskripsi {
        display: grid;
        margin-top: 30px;

    }

    #materi .deskripsi .block-1 {
        margin-top: 5px;
        width: 320px;
        height: 530px;

    }

    #materi .deskripsi .indo {
        width: 320px;
        height: 450px;
        background-color: white;
        border-style: ridge;
        border-radius: 8px;
        margin: 20px;
        margin-top: 50px;
    }

    .bagian-materi {
        margin-bottom: 1000px;
    }

    .bagian-3 {
        width: 480px;
        height: 320px;
        margin-top: 1375px;
    }

    #quiz .deskripsi {
        font-size: 12px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .bagian-4 {
        width: 480px;
        height: 300px;
    }

    #diskusi .deskripsi {
        display: grid;
        margin-top: 30px;
    }

    #diskusi .deskripsi .block-1 {
        margin-top: 5px;
        width: 320px;
        height: 250px;
    }

    .bagian-5 {
        width: 480px;
        height: 350px;
        margin-top: 535px
    }

    #profil .deskripsi {
        font-size: 12px;
    }

    #profil .deskripsi {
        text-align: left;
        margin-top: 0;
        margin-left: 20px;
        margin-right: 20px;
    }

    .bagian-5 .deskripsi .fa-square-instagram {
        margin-left: 9px;
    }

    .bagian-5 .tombol {
        font-size: 12px;
        margin-bottom: -3px;
    }

}

/* Styling untuk layar smartphone */
@media only screen and (max-width: 360px) {

    .bagian-1 {
        width: 360px;
        height: 650px;

    }

    .bagian-home {
        color: white;
    }

    .bagian-home img {
        width: 350px;
        margin-left: 10px;
        margin-top: 150px;
    }

    .bagian-home .deskripsi {
        text-align: center;
        font-size: 12px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .bagian-home .tombol {
        font-size: 15px;
    }

    .bagian-2 {
        width: 360px;
        height: 300px;
    }

    #materi .deskripsi {
        display: grid;
        margin-top: 30px;

    }

    #materi .deskripsi .block-1 {
        margin-top: 5px;
        width: 320px;
        height: 530px;

    }

    .bagian-materi {
        margin-bottom: 1000px;
    }

    .bagian-3 {
        width: 360px;
        height: 320px;
        margin-top: 1375px;
    }

    #quiz .deskripsi {
        font-size: 12px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .bagian-4 {
        width: 360px;
        height: 300px;
    }

    #diskusi .deskripsi {
        display: grid;
        margin-top: 30px;
    }

    #diskusi .deskripsi .block-1 {
        margin-top: 5px;
        width: 320px;
        height: 250px;
    }

    .bagian-5 {
        width: 360px;
        height: 350px;
        margin-top: 535px
    }

    #profil .deskripsi {
        font-size: 12px;
    }

    #profil .deskripsi {
        text-align: left;
        margin-top: 0;
        margin-left: 20px;
        margin-right: 20px;
    }

    .bagian-5 .deskripsi .fa-square-instagram {
        margin-left: 9px;
    }

    .bagian-5 .tombol {
        font-size: 12px;
        margin-bottom: -3px;
    }

}
